
.container{
  background-color: rgb(149, 235, 235);
  height: auto;
  width: 300px;
  border-radius: 10px;
  border: 5px solid rgb(6, 141, 194);
  margin: 100px auto;
display: block;
}

.count{
  background-color: rgb(19, 167, 117);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px; 
  margin-left: 110px;

}

.reset{
  display: flex;
  justify-content: center;
  margin: 2px auto;
  background-color:greenyellow;
  border-radius: 5px;
  font-weight: bold;

}
.buttons{
  margin: 30px 60px 30px 70px;
  
}
.zero{
  background-color: rgb(197, 162, 230);
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  border-radius: 5px;

}
.inc{
  background-color: rosybrown;
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  border-radius: 5px;
}
.decrease{
  background-color: yellow;
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  border-radius: 5px;
}
.del{
  background-color: red;
  font-size: 13px;
  font-weight: bold;
  margin: 3px;
  border-radius: 5px;
}
